.slick-arrow {
  display: none !important;
}

.slider-wrapper {
  margin-bottom: 40px;
  padding: 0 12px;

  .slick-slide {
    padding: 0 12px;
  }

  @media (max-width: 768px) {
    padding: 0 8px;

    .slick-slide {
      padding: 0 8px;
    }
  }

  @media (max-width: 576px) {
    padding: 0 6px;

    .slick-slide {
      padding: 0 3px; // spacing giữa các slide là 6px
    }
  }
}

.box {
  width: 100%;
  height: 122px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  text-align: center;
  overflow: hidden;
  pointer-events: auto;
  cursor: pointer;
  background: none;

  &:hover,
  &:focus,
  &:active {
    background: none !important;
    transform: none !important;
    box-shadow: none !important;
    filter: none !important;
  }
}

.topSection {
  flex: 1;
  background-color: #1a2a44;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo-image {
    width: 93px !important;
    height: 30px !important;
    object-fit: contain;
    transition: none !important;
    filter: none !important;
    transform: none !important;

    &:hover,
    &:focus,
    &:active {
      transform: none !important;
      filter: none !important;
    }
  }
}

.bottomSection {
  flex: 1;
  background-color: #2a3b5a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    font-size: 13px;
    color: white;
    margin: 10px 0 5px 0;
  }

  .games {
    font-size: 11px;
    color: #b0b0b0;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .box {
    width: 120px;
    height: 122px;

    .bottomSection {
      .title {
        font-size: 11px;
      }

      .games {
        font-size: 9px;
      }
    }
  }
}

/* Mobile */
@media (max-width: 576px) {
  .box {
    width: 110px;
    height: 122px;

    .bottomSection {
      .title {
        font-size: 10px;
      }

      .games {
        font-size: 8px;
      }
    }
  }
}
