.icon-img {
  width: 15px !important;
  height: 15px !important;
  display: inline-block;
}

.responsive-padding {
  padding: 0px 10px;
  margin-bottom: 62px;

  @media (min-width: 1200px) {
    padding: 16px 170px;
  }

  @media (max-width: 768px) {
    margin-bottom: 24px;
    padding: 0px 10px;
  }
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 6px;

  @media (min-width: 768px) {
    gap: 10px;
  }
}

