.footer-mobile {
  background-color: #12294a;
  color: #fff;
  padding-block: 60px;

  @media (max-width: 768px) {
    padding-block: 40px;
  }

  .white {
    color: #90a2bd !important;
  }

  .ant-collapse-header-text,
  .ant-collapse-expand-icon {
    color: #fff !important;
  }

  .help-box,
  .app-box,
  .mac-box,
  .app-icon-box {
    background-color: #1a3157;
    border-radius: 8px;
  }

  .help-box {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .help-title {
    font-weight: 600;
    font-size: 15px;
  }

  .help-subtext {
    font-size: 13px;
    color: #90a2bd;
  }

  .app-box {
    padding: 10px 12px;
    flex: 1;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .app-title {
    font-weight: 500;
    font-size: 12px;
  }

  .app-subtext {
    font-size: 12px;
    color: #90a2bd;
  }

  .mac-box {
    padding: 10px;
    display: flex;
    gap: 10px;
    max-width: 190px;
  }

  .app-icon-box {
    padding: 10px;
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;

    .white {
      font-size: 12px;
      text-align: center;
    }
  }

  .social-icon {
    width: 30px;
    height: 30px;

    @media (max-width: 768px) {
      width: 35px;
      height: 35px;
    }
  }
}

.footer-contact {
  @media (max-width: 768px) {
    padding-top: 20px;
  }
}

.footer-pc-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-column {
  min-width: 160px;
  max-width: 220px;
}

.footer-title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 12px;
  color: #fff;
}

.footer-subtext {
  margin-bottom: 8px;
  color: #90a2bd;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 12px;
    color: #90a2bd;
  }
}

.footer-socials {
  display: flex;
  gap: 16px;
  margin-top: 12px;
  list-style: none;
  padding: 0;
  justify-content: center;

  @media (min-width: 769px) {
    justify-content: flex-start;
  }
}
