.slider-container {
  width: 100%;
  max-width: 100vw;
  overflow: hidden; 
  margin-bottom: 40px;

  .slick-list {
    overflow: visible !important;
  }

  .slick-track {
    display: flex;
    align-items: center;
  }

  .slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
  }

  .image-wrapper {
    border-radius: 16px;
    width: auto;
    height: auto;

    img {
      display: block;
      width: auto !important;
      height: auto !important;
      max-width: 100%;
      transition: transform 0.5s ease, opacity 0.5s ease;
    }
  }

  .slick-slide:not(.slick-center) .image-wrapper img {
    transform: scale(0.85);
    opacity: 0.3;
  }

  .slick-center .image-wrapper img {
    transform: none;
    opacity: 1;
    border-radius: 16px;
  }

  .slick-dots {
    bottom: -30px;

    li {
      margin: 0 4px;

      button:before {
        content: "";
        width: 6px;
        height: 6px;
        background-color: #fff;
        border-radius: 50%;
        opacity: 0.5;
        display: inline-block;
        margin-top: 14px;
      }

      &.slick-active button:before {
        opacity: 1;
        background-color: #fff;
      }
    }
  }
}

@media (max-width: 768px) {
  .slider-container {
    .slick-dots {
      position: absolute;
      bottom: 0;
    }
  }

  header {
    position: relative;
    z-index: 10;
  }
}
