.exclusive-games-wrapper {
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

.exclusive-games-slider {
  margin-bottom: 40px;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    margin-bottom: 24px;
  }
}

.slick-list {
  margin: 0 -6px;
}

.slick-slide {
  padding: 0 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-slide img {
  width: 100px;
  height: 135px;
  object-fit: cover;
  border-radius: 10px;

  @media (max-width: 768px) {
    width: 90px;
    height: 120px;
  }
}

/* Loại bỏ hiệu ứng hover */
.slick-slide img:hover {
  transform: none;
}
