.swiper {
  width: 90%;
  height: 100%;
  margin-top: 20px;
}

.swiper-slide {
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 22px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 22px;
  transition: transform 0.3s ease;
}

@media (max-width: 480px) {
  .swiper-slide img {
    width: 100%;
    max-width: 100%;
  }
}

.swiper-slide img:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .see-all-text {
    display: none;
  }
}

.see-all-text:hover {
  text-decoration: underline;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
}

.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.5);
}

.swiper-pagination-bullet-active {
  background-color: #0073e6;
}



