.exclusive-games-wrapper {
  overflow: hidden;
}

.exclusive-games-header,
.all-providers-header {
  margin-bottom: 24px;

  p {
    font-size: 24px;
    font-weight: bold;
    color: white;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}

.see-all-text {
  font-size: 15px;
  font-weight: 500;
  color: white;
  padding-right: 10px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.exclusive-games-slider {
  margin-bottom: 40px;
  cursor: pointer;
}

.slick-list {
  margin: 0 -6px;
}

.slick-slide {
  padding: 0 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-slide img {
  width: 100px;
  height: 135px;
  object-fit: cover;
  border-radius: 10px;

  @media (max-width: 768px) {
    width: 90px;
    height: 120px;
  }
}

/* Loại bỏ hiệu ứng hover */
.slick-slide img:hover {
  transform: none;
}
