.game-card-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.game-card {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;

  .game-image {
    width: 100%;
    height: auto;
    display: block;
    /* Bỏ transition */
    transition: none;
    padding: 0 2px;
  }

  /* Bỏ hover */
  &:hover .game-image {
    transform: none;
  }

  &.hot::before,
  &.news::before {
    position: absolute;
    top: 10px;
    left: -4px;
    width: 36px;
    height: 21px;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
  }

  &.hot::before {
    background-image: url("../../assets/tag/hot.svg");
  }

  &.news::before {
    background-image: url("../../assets/tag/new.svg");
  }

  .overlay-text {
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 8px;
    font-weight: 500;
    z-index: 2;
    margin: 0;
  }
}
